# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment
.venv
venv/
env/
.env

# Local instance and database files
app.db
instance/
*.sqlite3

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
