{% for log in logs %}
<div class="speech-log-entry" data-owner="{{ log.Name }}" data-meeting-number="{{ log.Meeting_Number }}">
    <div class="speech-log-details">
        <div class="meeting-info">
            <span>Meeting {{ log.Meeting_Number if log.Meeting_Number else '' }}</span> | <span>{{ log.Meeting_Date.strftime('%Y-%m-%d') if log.Meeting_Date else '' }}</span>
        </div>
        <div class="project-info">
            <span class="project-code">
                {% if log.Pathway and 'Non-Path' not in log.Pathway %}
                    {% set initials = [] %}
                    {% for word in log.Pathway.split() %}
                        {% set _ = initials.append(word[0]) %}
                    {% endfor %}
                    {{ initials | join('') }}{{ log.Level }}
                {% endif %}
            </span>
            <span class="project-title">{{ log.Project_Title }} ({{ log.Session }})</span>
        </div>
        <br/>
        <div class="speech-title">{{ log.Speech_Title }}</div>
        <div class="speaker-info">
            <span class="speaker-name">{{ log.Name }}</span> |
            <span class="status">
                {% if log.Project_Status == 'Completed' %}
                    <span class="completed-status">Completed</span>
                {% else %}
                    <button onclick="completeLog(this, {{ log.id }})" class="btn btn-success">Complete</button>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="action-links">
        <button class="icon-btn" onclick="openSpeechLogModal({{ log.id }})" title="Edit"><i class="fas fa-edit"></i></button>
        {% if session.get('user_role') in ['Admin', 'Officer'] %}
        <button class="delete-btn icon-btn" onclick="showDeleteModal({{ log.id }})" title="Delete"><i class="fas fa-trash-alt"></i></button>
        {% endif %}
    </div>
</div>
{% endfor %}