{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <h1>User Profile</h1>
    <table class="form-table" style="max-width: 700px;">
        <tr>
            <td><label>Username</label></td>
            <td>{{ user.Username }}</td>
        </tr>
        <tr>
            <td><label>User Role</label></td>
            <td>{{ user.Role }}</td>
        </tr>
        {% if user.contact %}
        <tr>
            <td><label>Full Name</label></td>
            <td>
                {{ user.contact.Name }}
                {% if user.contact.DTM %}
                    <sup class="dtm-superscript">DTM</sup>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label>Working Pathway</label></td>
            <td>{{ user.contact.Working_Path }}</td>
        </tr>
        <tr>
            <td><label>Next Project</label></td>
            <td>{{ user.contact.Next_Project }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2" style="text-align: center;">
                <em>This user account is not linked to a contact record.</em>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock %}