{% extends "base.html" %}

{% block title %}Admin Test Page{% endblock %}

{% block content %}
    <h1>Admin Test Page</h1>
    <p>If you can see this page, it means you are successfully logged in as an administrator.</p>
    <p>This page is only visible to users with the 'Admin' role.</p>

    <h2>How to Update a Speech Log</h2>
    <video width="640" height="480" controls controlsList="nodownload">
        <source src="{{ url_for('static', filename='videos/How to update a speech log.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% endblock %}
