<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.loli.net">
  <link rel="preconnect" href="https://gstatic.loli.net" crossorigin>
  <link href="https://fonts.loli.net/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&display=swap"
    rel="stylesheet">
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/fontawesome.min.css') }}" />
</head>

<body>
  <div class="login-container">
    <img src="{{ url_for('static', filename='images/SHLTMC-logo.webp') }}" alt="SHLTMC Logo"
      style="width: 300px; margin-bottom: 20px" />
    <h1>Meeting Manager</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="alert-container">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <form action="{{ url_for('auth_bp.login') }}" method="post" class="login-form">
      <div>
        <label for="club_names">Club:</label>
        <select id="club_names" name="club_names" required>
          {% for club in clubs %}
          <option value="{{ club.id }}" {% if club.id==1 %}selected{% endif %}>{{ club.club_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" autocomplete="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="current-password" required />
      </div>
      <div class="forgot-password-container">
        <a href="{{ url_for('auth_bp.reset_password_request') }}" class="login-link">Forgot Password?</a>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" style="height: 40px">
          Login
        </button>
      </div>
    </form>
    <div class="divider">
      <span>or</span>
    </div>
    <div class="guest-login">
      <a href="{{ url_for('agenda_bp.agenda') }}" class="btn btn-secondary">Continue as Guest</a>
    </div>
  </div>
</body>

</html>