{% extends "base.html" %}

{% block title %}Pathway Library{% endblock %}


{% block content %}
<div id="pathway-library-container">
  <h1><i class="fas fa-landmark"></i> Pathway Library</h1>

  <div class="filters-container">
    <div class="form-group">
      <label for="path">Path:</label>
      <select id="path" name="path">
        {% for type, items in grouped_pathways.items() %}
        <optgroup label="{{ type }}">
          {% for item in items %}
          <option value="{{ item.abbr }}">{{ item.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="level">Level:</label>
      <select id="level" name="level">
        <option value="">All Levels</option>
        {% for i in range(1, 6) %}
        <option value="{{ i }}">Level {{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="project">Project:</label>
      <select id="project" name="project">
        <option value="">-- Select a Project --</option>
      </select>
    </div>
  </div>

  <div id="project-details" class="project-details-container" style="display: none">
    <div class="project-header">
      <h2 id="project-name"></h2>
      <div class="button-group">
        {% if is_authorized(Permissions.PATHWAY_LIB_EDIT) %}
        <button id="cancel-project-btn" class="icon-btn" style="display: none !important" title="Cancel">
          <i class="fas fa-times"></i>
        </button>
        <button id="edit-project-btn" class="icon-btn" title="Edit">
          <i class="fas fa-edit"></i>
        </button>
        {% endif %}
        <a id="download-project-btn" class="icon-btn" title="Download Evaluation" style="display: none" target="_blank">
          <i class="fas fa-download"></i>
        </a>
      </div>
    </div>
    <div class="path-codes">
      <div class="path-code-box path-dl btn-sm" id="dl-code" data-path="DL">
        <i class="fas fa-chart-line"></i> <span class="badge-text">DL: <span></span></span>
      </div>
      <div class="path-code-box path-eh btn-sm" id="eh-code" data-path="EH">
        <i class="fas fa-laugh"></i> <span class="badge-text">EH: <span></span></span>
      </div>
      <div class="path-code-box path-ms btn-sm" id="ms-code" data-path="MS">
        <i class="fas fa-fire"></i> <span class="badge-text">MS: <span></span></span>
      </div>
      <div class="path-code-box path-pi btn-sm" id="pi-code" data-path="PI">
        <i class="fas fa-handshake"></i> <span class="badge-text">PI: <span></span></span>
      </div>
      <div class="path-code-box path-pm btn-sm" id="pm-code" data-path="PM">
        <i class="fas fa-chalkboard-teacher"></i> <span class="badge-text">PM: <span></span></span>
      </div>
      <div class="path-code-box path-vc btn-sm" id="vc-code" data-path="VC">
        <i class="fas fa-lightbulb"></i> <span class="badge-text">VC: <span></span></span>
      </div>
      <div class="path-code-box path-dtm btn-sm" id="dtm-code" data-path="DTM">
        <i class="fas fa-trophy"></i> <span class="badge-text">DTM: <span></span></span>
      </div>
    </div>
    <br />
    <div class="project-section">
      <h3>Purpose</h3>
      <p id="project-purpose"></p>
      <textarea id="edit-purpose" class="edit-textarea" rows="3" style="display: none; width: 100%"></textarea>
    </div>
    <div class="project-section">
      <h3>Introduction</h3>
      <p id="project-introduction"></p>
      <textarea id="edit-introduction" class="edit-textarea" rows="3" style="display: none; width: 100%"></textarea>
    </div>
    <div class="project-section">
      <h3>Overview</h3>
      <p id="project-overview"></p>
      <textarea id="edit-overview" class="edit-textarea" rows="3" style="display: none; width: 100%"></textarea>
    </div>
    <div class="project-section">
      <h3>Requirements</h3>
      <p id="project-requirements"></p>
      <textarea id="edit-requirements" class="edit-textarea" rows="3" style="display: none; width: 100%"></textarea>
    </div>
    <div class="project-section">
      <h3>Resources</h3>
      <p id="project-resources"></p>
      <textarea id="edit-resources" class="edit-textarea" rows="3" style="display: none; width: 100%"></textarea>
    </div>
  </div>
</div>
<script>
  const pathways = {{ pathways| tojson }};
</script>
<script src="{{ url_for('static', filename='js/components/custom_select_adapter.js') }}"></script>
<script src="{{ url_for('static', filename='js/pathway_library.js') }}"></script>
{% endblock %}